@font-face {
  font-family: 'Nunito';
  src: url('./static/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'NunitoMedium';
  src: url('./static/Nunito-Medium.ttf');
}

@font-face {
  font-family: 'NunitoBold';
  src: url('./static/Nunito-Bold.ttf');
}
@font-face {
  font-family: 'NunitoExtraBold';
  src: url('./static/Nunito-ExtraBold.ttf');
}

/* scrollbar */
::-webkit-scrollbar{
  width: .60rem;
  background: rgba(172, 172, 245, 0.842);
  border-radius: .5rem;
  z-index: -22;
}
::-webkit-scrollbar-thumb{
  background: rgba(21, 21, 100, 0.822);
  border-radius: .5rem;

}
::-webkit-scrollbar-thumb:hover{
  background: rgba(21, 21, 100);
}


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
a{text-decoration: none;}
li{list-style: none;}
